<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite" parallel="false">
    <!-- Listener-ul CustomTestListener se aplică tuturor testelor din suită -->
    <listeners>
        <listener class-name="listeners.CustomTestListener" />
        <listener class-name="listeners.CustomSuiteListener" />
    </listeners>

    <test name="ActiveTests">
        <classes>
            <class name="tests.CreateAccountTest" />
            <class name="tests.LoginTest" />
            <class name="tests.DeleteAccountTest" />
            <class name="tests.InvalidLoginTest" />

        </classes>
    </test>
</suite>
